.gradient-header {
  background: linear-gradient(90deg, #009970, #00b894);
  color: #fff;
  padding: 8px 20px;
  min-height: 70px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}

.navbar-brand img {
  width: 45px;
  height: 45px;
}

.navbar-brand span {
  font-weight: 700;
  letter-spacing: 0.5px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.navbar-nav .nav-link {
  font-weight: 500;
  color: #fff !important;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
  border-bottom: 2px solid #fff;
}
